<section>
	<div style="margin-top: 50px;">
		<p style="font-weight: bold; margin-top: 30px;">👯 二人の立ち位置</span></p>
		<p style="margin-top: 5px">会社の先輩と後輩。2016年、社内でたった2人のGopher。</p>
		<p style="font-weight: bold; margin-top: 30px;"‍>👩‍❤️‍👩 なぜ二人でやるか</span></p>
		<p style="margin-top: 5px">10数年戦士と駆け出しエンジニアの組み合わせでGopherだなんて、こんなラッキーなことはないから。</p>
		<p style="font-weight: bold; margin-top: 30px;">🗣 どういう話をしたいのか</span></p>
		<p style="margin-top: 5px">1年くらいかけてGoでどんなことをしてきたのか。<br>
		良かったことも悪かったことも全部ふりかえって明日の糧にしたい。</p>
		<p style="font-weight: bold; margin-top: 30px;">🎧 どういう人に聞いてもらいたいと思っているか</span></p>
		<p style="margin-top: 5px">Gopherと未来のGopher。</p>
	</div>
</section>
