<section>
	<div style="float: left; padding: 100px 30px 50px 100px; position: relative;">
		<h3>micchie</h3>
		<ul>
			<li>脳筋戦士 Lv.15</li>
			<li>Gopher 1.5歳</li>
			<li>Hobbies: 🍻, 🍣, 🐻, 3DS</li>
		</ul>
		<div style="position: absolute; left: 50%; padding-top: 30px;">
			<img src="image/micchie.png" width="100" height="100">
		</div>
	</div>

	<div style="float: right; padding: 100px 100px 50px 30px; position: relative;">
		<h3>mom0tomo</h3>
		<ul>
			<li>村人 → 修行僧 → 武闘家 Lv.2</li>
			<li>Gopher 1.0歳</li>
			<li>Hobbies: 🍻, 🇩🇪, 🍎, ʕ ◔ϖ◔ʔ</li>
		</ul>
		<div style="position: absolute; right: 50%; padding-top: 30px;">
			<img src="image/mom0tomo.png" width="100" height="100">
		</div>
	</div>
</section>
