<section style="position: relative;">
  <div>
    <ul style="list-style: none; line-height: 1; padding-top: 120px;">
    <li>白川 みちる</li>
      <li class="link"><a href="https://github.com/mi-bear/">@micchiebear</a></li>
      <li class="link"><a href="https://github.com/mi-bear/">github.com/mi-bear/</a></li>
    </ul>
  </div>

  <div>
    <ul style="list-style: none; line-height: 1; padding-top: 20px;">
      <li>渡辺 もも</li>
      <li class="link"><a href="https://github.com/mom0tomo/">@mom0tomo</a></li>
      <li class="link"><a href="https://github.com/mom0tomo/">github.com/mom0tomo</a></li>
    </ul>
  </div>

  <div>
    <div style="position: absolute; right: 15%; top: 60px;">
      <img src="image/wwglogo.png" width="350px" height="350px">
      <small style="position: absolute; right: 5%; color: #999; font-size: 16px;">The Go gopher was designed by Renée French.</small>
    </div>
  </div>
</section>
